In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('C:/Users/Chinmay/Desktop/APP_ANY_ML/Approach_any_ML/data/cat_var_train.csv')
#df = df[['bin_0','bin_1','nom_0','nom_1','ord_0','ord_1','ord_2','month','target']]

In [4]:

df.fillna('None',inplace =True)
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3,Contributor,Hot,c,U,Pw,6,3,0
1,1,1,1,0,F,Y,Red,Star,Axolotl,None,...,f37df64af,3,Grandmaster,Warm,e,X,pE,7,7,0
2,2,0,1,0,F,N,Red,None,Hamster,Canada,...,None,3,None,Freezing,n,P,eN,5,9,0
3,3,None,0,0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1,Novice,Lava Hot,a,C,None,3,3,0
4,4,0,None,0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3,Grandmaster,Cold,h,C,OZ,5,12,0

In [5]:
for col in df.columns:
    print(f'{col}--->{df[col].value_counts()}')
    print()

id--->2047      1
23713     1
56497     1
54448     1
11439     1
9390      1
15533     1
13484     1
3243      1
1194      1
7337      1
5288      1
27815     1
25766     1
31909     1
29860     1
19619     1
50354     1
52403     1
62644     1
48317     1
216259    1
214210    1
220353    1
218304    1
44223     1
42174     1
46268     1
64693     1
36027     1
         ..
39750     1
33605     1
35652     1
47938     1
62283     1
41793     1
43840     1
217919    1
219966    1
213821    1
215868    1
64330     1
52044     1
19292     1
853       1
29531     1
31578     1
25433     1
27480     1
4951      1
6998      1
2900      1
49997     1
13139     1
15186     1
9041      1
11088     1
54095     1
56142     1
0         1
Name: id, Length: 600000, dtype: int64

bin_0--->0.0     528377
1.0      53729
None     17894
Name: bin_0, dtype: int64

bin_1--->0.0     474018
1.0     107979
None     18003
Name: bin_1, dtype: int64

bin_2--->0.0     419845
1.0     162225
None     17930
Name: bin_2, dtype: int64

bin_3--->F       366212
T       215774
None     18014
Name: bin_3, dtype: int64

bin_4--->N       312344
Y       269609
None     18047
Name: bin_4, dtype: int64

nom_0--->Red      323286
Blue     205861
Green     52601
None      18252
Name: nom_0, dtype: int64

nom_1--->Triangle     164190
Polygon      152563
Trapezoid    119438
Circle       104995
Square        26503
None          18156
Star          14155
Name: nom_1, dtype: int64

nom_2--->Hamster    164897
Axolotl    152319
Lion       119504
Dog        104825
Cat         26276
None        18035
Snake       14144
Name: nom_2, dtype: int64

nom_3--->India         164869
Costa Rica    151827
Russia        119840
Finland       104601
Canada         26425
None           18121
China          14317
Name: nom_3, dtype: int64

nom_4--->Theremin    308621
Bassoon     196639
Oboe         49996
Piano        26709
None         18035
Name: nom_4, dtype: int64

nom_5--->None         17778
fc8fc7e56      977
360a16627      972
7917d446c      961
423976253      961
079b76328      960
879c2ed83      960
f4c4a7cc2      958
e32171484      956
251c8292d      954
b2894f509      951
b165c9589      951
124963b67      950
edd08fbe3      948
094b85efd      947
bcdb1d6a1      947
691ebeae8      945
3ad40eeef      945
b33e135b5      944
03ea75c83      942
207bec5ff      941
c8a903ab9      941
4d701cd2a      941
606509f50      940
8e0f7217a      938
b8f70e10b      936
9e0154a54      934
0d475c15f      933
7d6c0cf07      931
e32849ce1      929
             ...
133818aba       22
ee0884cf8       20
471b15c2f       19
4b93c32fd       18
abd477977       18
1b88f3b6a       17
ba3ec5b4e       16
7d7c614e7       16
d48b41023       14
7b1a1b48c       14
4a5e9c714       14
b578ca3d3       13
8116aba72       13
15d09c0f3       13
f4ace1f90       13
58aa1b824       12
e8dca2f17       12
44a2e6186       10
89f532300       10
53554f740        9
f00b62582        9
7331b57f0        9
6ed2e8c60        8
d1d7d8352        7
0ce611b68        7
7335087fd        5
30019ce8a        3
b3ad70fcb        1
d6bb2181a        1
0385d0739        1
Name: nom_5, Length: 1221, dtype: int64

nom_6--->None         18131
ea8c5e181      805
9fa481341      798
2b94ada45      792
32e9bd1ff      788
b88220966      781
840e7f4b5      779
72ccba7a4      776
e8ea54cf5      775
dfa75ccc7      771
0dfa3e5dd      770
04a2f06a3      765
aaeae365f      762
33897911c      762
4e161a54d      761
db2ac6978      759
400ea518a      759
de9e7f97d      757
b3c90f702      756
b240ad8c0      756
c19600087      754
fac5029fd      753
b18acce42      752
1fb51da5e      752
c9cde7633      750
9e9048cf9      750
c8c9513f5      749
4bb089ca4      748
cbdd65050      746
44331253f      744
             ...
ffaf07664       16
1a3496903       16
03a6514a0       15
7a5de2dd5       15
b61f2c984       14
702697c39       14
a93b49b8c       14
cd3f65d3e       14
5ba9a2322       14
bfbc64d66       13
d80c01ec8       12
273fb836b       12
d8b23d75a       12
f1b3a44d4       11
572db8d47        9
f2c0f1d10        8
0ab3b52a4        7
044122763        7
96c5df3d0        7
22d978806        6
27fadf6ea        5
a18f02793        5
f7c893813        4
ee6983c6d        4
f0732a795        4
c467c6531        4
322548bed        3
d6ea07c05        2
b4b8de4b9        2
3a121fefb        1
Name: nom_6, Length: 1520, dtype: int64

nom_7--->None         18003
4ae48e857     5035
c79d2197d     5031
86ec768cd     4961
a7059911d     4945
41901460a     4934
3d9d8f526     4922
429114096     4889
67a8d4ebb     4863
ba9faf5b1     4791
8781919c2     4789
7f6fad56e     4788
1dddb8473     4767
8d857a0a1     4763
81d67e1bb     4751
16fa03dee     4736
623908296     4716
d40ca0718     4706
c3ad85934     4700
e61c53286     4693
11409e362     4688
3600c6e91     4673
b2d0012ea     4645
230229e51     4620
7fcdbac1d     4605
83bdea3a5     4592
e5b00a0e0     4550
833d88c6c     4537
580231f65     4512
bc9cc2a94     4502
             ...
7bf938847      789
e371063e2      763
b2151e2cd      756
f94d9babd      747
a8cfb0795      657
16e07c05c      645
b4678a59e      529
2506ce93d      524
94d34d287      510
51a4ac0be      492
545ad7c80      471
1ba4e8ff1      467
9fed600dc      444
5de0b3fa7      443
c273b5ace      434
1eb783b97      412
e44e2dea4      393
3065f26f4      391
3d2d50707      364
2fa636740      324
49ae7bdc0      300
9289b1aab      299
2aeb8ae84      278
8046bea1a      262
e3342b01a      201
b39008216      195
1828818ab      182
75d0e3ef8      157
deec583dd       93
e9c57c4aa       79
Name: nom_7, Length: 223, dtype: int64

nom_8--->None         17755
7d7c02c57     5052
15f03b1f4     4994
5859a8a06     4989
d7e75499d     4987
158183c63     4966
484c96b82     4960
587840371     4948
ef752c107     4937
d1c6bb70d     4906
964a66013     4869
5bdcf7324     4863
fe070240a     4833
1ce5cf721     4804
ad5be5be4     4786
777ce63ea     4780
d48e8b7af     4765
60c7c84ee     4747
abce980f5     4713
9789d425f     4689
23dc2e63d     4660
fa49d4e04     4648
45121db5e     4640
8dc88fa15     4623
de6d6e3d8     4619
75a957c6d     4603
690411ac0     4602
cf30695f0     4580
bccfd92a2     4534
d8bad19d0     4499
             ...
9cc561d1b      803
1c4931f19      773
1653ceb33      729
7c89e4b36      700
ceab144aa      641
7217196aa      591
0279391c5      561
1195f603e      550
8df93e6c9      528
32ff72b97      518
6ff91d4e8      482
e11794ad3      469
9416a52f9      447
82cc2cb4f      415
afb0fafb0      400
f338368af      400
1b6796452      398
21595d82e      397
2c58293c4      362
3210cd7c1      315
79c79ecbf      306
99bb7aedf      300
5f254ada1      277
3d0ea8194      259
4348381e1      213
8d31d1ab3      207
4584d6fcd      174
607c26084      149
115d9fd8b      105
6492aecc3       61
Name: nom_8, Length: 223, dtype: int64

nom_9--->None         18073
8f3276a6e      565
65b262989      564
c5361037c      560
9bc905a9d      558
01a1a04c5      557
37d50602b      555
483535452      554
a16717598      554
203149e41      551
9976322be      550
053cf1f9e      549
5e99ade9b      549
717d31bdd      549
d2e90f3ab      547
fa9b8ec30      546
3bc419b1d      545
ad29bbe78      542
77ec681b1      542
7887aa63a      541
442a1dbe7      540
4a6692e51      539
a71bc91ae      533
5b96c5681      533
f61c51337      532
75696671d      532
f37df64af      530
51d0dcf53      529
622c2b209      529
f01fcc0ad      529
             ...
6883166ab        8
b5f21647b        8
966ce8f8b        7
7ccf7a9ba        7
de4796383        7
4a6651e45        7
c876f867d        6
1065f10dd        6
34d9d24e8        6
22593f64f        6
d9ce67de7        6
bedb56941        6
d61dbecb0        6
8e4051eeb        6
47ba603e6        5
b30b1f088        5
39c79e176        5
21cb5bac6        5
99cc97fb5        5
75a09d26d        5
b5f9881ba        4
2394a46de        3
a2ada3ae0        3
978258393        2
1538d82e9        2
47a0cd9da        2
432e3fc6a        2
3d19cd31d        2
5f565a682        1
d1e6704ed        1
Name: nom_9, Length: 2219, dtype: int64

ord_0--->1.0     227917
3.0     197798
2.0     155997
None     18288
Name: ord_0, dtype: int64

ord_1--->Novice         160597
Expert         139677
Contributor    109821
Grandmaster     95866
Master          75998
None            18041
Name: ord_1, dtype: int64

ord_2--->Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
None            18075
Name: ord_2, dtype: int64

ord_3--->n       70982
a       65321
m       57980
c       56675
h       55744
o       45464
b       44795
e       38904
k       38718
i       34763
d       30634
f       29450
None    17916
g        6180
j        3639
l        2835
Name: ord_3, dtype: int64

ord_4--->N       39978
P       37890
Y       36657
A       36633
R       33045
U       32897
M       32504
X       32347
C       32112
H       31189
Q       30145
T       29723
O       25610
B       25212
E       21871
K       21676
I       19805
None    17930
D       17284
F       16721
W        8268
Z        5790
S        4595
G        3404
V        3107
J        1950
L        1657
Name: ord_4, dtype: int64

ord_5--->None    17713
Fl      10562
DN       9527
Sz       8654
RV       5648
oJ       5596
PS       5447
vq       5443
WW       5385
XC       5383
AG       5364
GZ       5348
be       5313
DR       5292
vx       5237
tn       5231
lS       5229
hG       5224
mo       5174
Ib       5129
mD       5120
TL       5112
TZ       5092
Hk       5033
Nh       4986
YJ       4968
rl       4961
RD       4949
gc       4926
uQ       4923
        ...
Tg        814
RB        800
pl        758
tT        749
Dn        656
HO        606
Qm        595
NT        583
uI        528
WC        493
BX        482
Yb        476
FB        433
nf        345
PG        345
wJ        341
fF        335
kP        331
ur        319
uW        269
MF        256
SL        249
Cn        236
XI        198
MX        196
vw        189
gV        124
vQ        120
eA         91
Zv         87
Name: ord_5, Length: 191, dtype: int64

day--->3.0     113835
5.0     110464
6.0      97432
7.0      86435
1.0      84724
2.0      65495
4.0      23663
None     17952
Name: day, dtype: int64

month--->8.0     79245
3.0     70160
5.0     68906
12.0    68340
6.0     60478
7.0     53480
1.0     52154
11.0    51165
2.0     40700
9.0     20620
None    17988
4.0     14614
10.0     2150
Name: month, dtype: int64

target--->0    487677
1    112323
Name: target, dtype: int64

In [44]:
df['ord_2'].unique()

array(['Hot', 'Warm', 'Freezing', 'Lava Hot', 'Cold', 'Boiling Hot',
       'None'], dtype=object)

In [6]:
mapping = {"Freezing": 0, "Warm": 1,"Cold": 2,"Boiling Hot": 3,"Hot": 4,"Lava Hot": 5,'None':6}

df.loc[:,'ord_2'] = df.ord_2.map(mapping)

In [7]:
df['ord_2'].value_counts()

0    142726
1    124239
2     97822
3     84790
4     67508
5     64840
6     18075
Name: ord_2, dtype: int64

The problem with label encoding for linear algorithms is that it introduces an inherent ordering between the categories, which may not necessarily reflect the true nature of the data. For example, if we encode the categories "red", "green", and "blue" as 1, 2, and 3, respectively, a linear algorithm will assume that "green" is closer to "red" than "blue", which may not be true in reality.

This can lead to biased or incorrect results when using linear models, as the model may overweight or underweight certain categories based on their assigned numerical values.

In [8]:
#sparse Matrix

example = np.array([
    [0,0,1],
    [1,0,0],
    [1,0,1]
])
print(example.nbytes)

#we can make this as dic of (row,index) = value
# (0,2)   1
# (1,0)   1
# (2,1)   1
# (2,2)   1

from scipy import sparse
sparse_example = sparse.csr_matrix(example)
print(sparse_example.data.nbytes)

36
16

In [ ]:
#oneHotEncoding

In [9]:
example = np.array(
                    [
                    [0, 0, 0, 0, 1, 0],
                    [0, 1, 0, 0, 0, 0],
                    [1, 0, 0, 0, 0, 0]
                    ]
                    )

print(f'Size of the dense matrix {example.nbytes}')
sparse_ex = sparse.csr_matrix(example)

print(f'size of sparse array:{sparse_ex.data.nbytes}')

Size of the dense matrix 72
size of sparse array:12

In [59]:
df.groupby(['ord_2'])['id'].transform('count')

0          67508
1         124239
2         142726
3          64840
4          97822
5          67508
6          97822
7          97822
8          84790
9          64840
10         67508
11         67508
12        142726
13         64840
14        142726
15         67508
16         84790
17        124239
18         67508
19         84790
20        142726
21         67508
22         67508
23        124239
24         84790
25        124239
26        142726
27         97822
28        124239
29         97822
           ...
599970    142726
599971    142726
599972    142726
599973     97822
599974     84790
599975    142726
599976     64840
599977     67508
599978    142726
599979     84790
599980     67508
599981     64840
599982    124239
599983     97822
599984    142726
599985    124239
599986    142726
599987    124239
599988     64840
599989     84790
599990    142726
599991    124239
599992    142726
599993    142726
599994     97822
599995    142726
599996     84790
599997    142726
599998    124239
599999     84790
Name: id, Length: 600000, dtype: int64

In [10]:
df.groupby(['ord_1','ord_2'])['id'].count().reset_index()

          ord_1  ord_2     id
0   Contributor      0  26082
1   Contributor      1  22774
2   Contributor      2  17734
3   Contributor      3  15634
4   Contributor      4  12428
5   Contributor      5  11919
6   Contributor      6   3250
7        Expert      0  33249
8        Expert      1  28900
9        Expert      2  22956
10       Expert      3  19477
11       Expert      4  15792
12       Expert      5  15078
13       Expert      6   4225
14  Grandmaster      0  22818
15  Grandmaster      1  19899
16  Grandmaster      2  15464
17  Grandmaster      3  13623
18  Grandmaster      4  10805
19  Grandmaster      5  10363
20  Grandmaster      6   2894
21       Master      0  18035
22       Master      1  15734
23       Master      2  12364
24       Master      3  10800
25       Master      4   8594
26       Master      5   8209
27       Master      6   2262
28         None      0   4309
29         None      1   3669
30         None      2   3033
31         None      3   2538
32         None      4   2039
33         None      5   1898
34         None      6    555
35       Novice      0  38233
36       Novice      1  33263
37       Novice      2  26271
38       Novice      3  22718
39       Novice      4  17850
40       Novice      5  17373
41       Novice      6   4889

In [11]:
df['new_feat'] = df.ord_1.astype(str)+'_'+df.ord_2.astype(str)+'_'+df.ord_3.astype(str)

In [12]:
df['new_feat']

0         Contributor_4_c
1         Grandmaster_1_e
2                None_0_n
3              Novice_5_a
4         Grandmaster_2_h
5              Expert_4_b
6         Grandmaster_2_c
7              Expert_2_b
8              Novice_3_c
9         Contributor_5_n
10             Novice_4_b
11        Contributor_4_b
12             Novice_0_a
13        Contributor_5_h
14             Master_0_d
15        Contributor_4_k
16             Novice_3_h
17             Novice_1_g
18             Master_4_h
19        Grandmaster_3_n
20             Novice_0_h
21        Contributor_4_h
22             Master_4_k
23             Novice_1_n
24        Grandmaster_3_b
25             Expert_1_c
26        Grandmaster_0_o
27             Novice_2_a
28             Novice_1_a
29             Expert_2_a
               ...
599970    Contributor_0_a
599971    Contributor_0_a
599972    Grandmaster_0_d
599973    Contributor_2_h
599974         Master_3_d
599975         Expert_0_n
599976    Grandmaster_5_h
599977         Novice_4_n
599978    Contributor_0_f
599979         Expert_3_d
599980         Master_4_o
599981    Contributor_5_c
599982    Contributor_1_n
599983         Expert_2_c
599984         Novice_0_c
599985         Novice_1_h
599986         Expert_0_k
599987         Novice_1_d
599988         Master_5_k
599989         Master_3_k
599990         Novice_0_i
599991    Contributor_1_f
599992         Novice_0_d
599993    Contributor_0_n
599994    Grandmaster_2_f
599995         Novice_0_a
599996         Novice_3_n
599997    Contributor_0_n
599998         Master_1_m
599999    Contributor_3_b
Name: new_feat, Length: 600000, dtype: object

In [13]:
import pandas as pd
from sklearn import preprocessing

test = pd.read_csv('C:/Users/Chinmay/Desktop/APP_ANY_ML/Approach_any_ML/data/cat_var_test.csv')

test['target'] = -1

data = pd.concat([df,test]).reset_index(drop=True)
features = [x for x in df.columns if x not in ['id','target']]

for feat in features:
    lbl_enc = preprocessing.LabelEncoder()
    
    temp_col = data[feat].fillna('None').astype(str).values
    
    data.loc[:,feat] = lbl_enc.fit_transform(temp_col)
    
train_df = data[data.target!=-1].reset_index(drop=True)
test_df = data[data.target == -1].reset_index(drop=True)

C:\Users\Chinmay\anaconda3\envs\envpytorch\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [ ]:
#this trick works when we already know the test dataset.But during live model prediction
#if we introduce a new categroy in training , we wont be able to predcit 
#to avoid this situdation we use ;;unknown category

In [69]:
df.ord_2.fillna("NONE").value_counts()

Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
None            18075
Name: ord_2, dtype: int64

In [ ]:
#if during testing we have not seen the data, we can make them as NOne.
#lika a nlp , We define Vocab size and if word not present , we consider as UNK

In [70]:
df['ord_4'].value_counts()

N       39978
P       37890
Y       36657
A       36633
R       33045
U       32897
M       32504
X       32347
C       32112
H       31189
Q       30145
T       29723
O       25610
B       25212
E       21871
K       21676
I       19805
None    17930
D       17284
F       16721
W        8268
Z        5790
S        4595
G        3404
V        3107
J        1950
L        1657
Name: ord_4, dtype: int64

In [14]:
#some value occur only in 1000 and some occur more than 30K. These are rare words
#we can specify a condition and make them Rare words

df.loc[df['ord_4'].value_counts()[df['ord_4']].values < 2000,'ord_4']='RARE'

In [15]:
df.ord_4.value_counts()

N       39978
P       37890
Y       36657
A       36633
R       33045
U       32897
M       32504
X       32347
C       32112
H       31189
Q       30145
T       29723
O       25610
B       25212
E       21871
K       21676
I       19805
None    17930
D       17284
F       16721
W        8268
Z        5790
S        4595
RARE     3607
G        3404
V        3107
Name: ord_4, dtype: int64

In [ ]:
#this ensure that all unseen data will be mapped as Rare in test and missing
#values as None

In [16]:
df = df[df['target'] !=4]

In [17]:
from sklearn import model_selection

In [23]:
df['kfold'] = -1

#randomize the things
df = df.sample(frac=1).reset_index(drop=True)

#featch labels
y = df.target.values

#initiale the kfold class from model_Selection module
kf = model_selection.StratifiedKFold(n_splits=5)

for f,(t_,v_) in enumerate(kf.split(X=df,y=y)):# (ind x and ind y)
    #print(v_)
    df.loc[v_,'kfold'] = f
    #print(df['kfold'].value_counts())

In [24]:
df.to_csv('C:/Users/Chinmay/Desktop/APP_ANY_ML/Approach_any_ML/data/cat_train_folds.csv', index=False)

In [25]:
df1 = pd.read_csv('C:/Users/Chinmay/Desktop/APP_ANY_ML/Approach_any_ML/data/cat_train_folds.csv')
df1.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target,new_feat,kfold
0,409295,0.0,1.0,0.0,F,Y,Blue,Circle,Cat,Costa Rica,...,Grandmaster,3,a,E,al,3.0,2.0,0,Grandmaster_3_a,0
1,198267,0.0,None,0.0,F,N,Blue,Circle,Hamster,Finland,...,Expert,0,i,C,rl,7.0,5.0,0,Expert_0_i,0
2,444518,0.0,0.0,0.0,T,N,None,Triangle,Lion,Russia,...,Contributor,0,a,A,AU,3.0,5.0,0,Contributor_0_a,0
3,585354,0.0,1.0,0.0,F,N,Red,Triangle,Axolotl,Russia,...,Grandmaster,1,a,B,RD,6.0,8.0,0,Grandmaster_1_a,0
4,353598,1.0,1.0,1.0,F,Y,Blue,Trapezoid,Axolotl,Finland,...,Grandmaster,5,c,P,ok,3.0,5.0,0,Grandmaster_5_c,0

In [26]:
for val in df1['kfold'].unique():
    print(df1[df1['kfold']==val]['target'].value_counts())

0    97536
1    22464
Name: target, dtype: int64
0    97536
1    22464
Name: target, dtype: int64
0    97535
1    22465
Name: target, dtype: int64
0    97535
1    22465
Name: target, dtype: int64
0    97535
1    22465
Name: target, dtype: int64

In [27]:
df['kfold'].value_counts()

4    120000
3    120000
2    120000
1    120000
0    120000
Name: kfold, dtype: int64

In [28]:
from sklearn import linear_model,metrics,preprocessing

def run(fold):
    
    df = pd.read_csv("C:/Users/Chinmay/Desktop/APP_ANY_ML/Approach_any_ML/data/cat_train_folds.csv")

    features = [f for f in df.columns if f not in ("id", "target", "kfold")]
    
    # fill all NaN values with NONE
    # note that I am converting all columns to "strings"
    # it doesnâ€™t matter because all are categories
    for col in features:
        df.loc[:, col] = df[col].astype(str).fillna("NONE")
    
    # get training data using folds
    df_train = df[df.kfold != fold].reset_index(drop=True)
    
    # get validation data using folds
    df_valid = df[df.kfold == fold].reset_index(drop=True)
    
    # initialize OneHotEncoder from scikit-learn
    ohe = preprocessing.OneHotEncoder()
    
    # fit ohe on training + validation features
    full_data = pd.concat([df_train[features], df_valid[features]],axis=0)
    ohe.fit(full_data[features])
    
    # transform training data
    x_train = ohe.transform(df_train[features])
    print(f'shape of x_trian {x_train.shape}')
    print(f'shape of x_trian {df_train.target.values.shape}')
    # transform validation data
    x_valid = ohe.transform(df_valid[features])
    print(f'shape of x_valid {x_valid.shape}')
    
    # initialize Logistic Regression model
    model = linear_model.LogisticRegression()
    model.fit(x_train, df_train.target.values)
    # predict on validation data
    # we need the probability values as we are calculating AUC
    # we will use the probability of 1s
    valid_preds = model.predict_proba(x_valid)[:, 1]
    auc = metrics.roc_auc_score(df_valid.target.values, valid_preds)
    # print auc
    print(auc)

In [138]:
run(0)

shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)
0.7841683176021266

C:\Users\Chinmay\anaconda3\envs\envpytorch\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [139]:
for fold_ in range(5):
    run(fold_)

shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)

C:\Users\Chinmay\anaconda3\envs\envpytorch\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.7841683176021266
shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)

C:\Users\Chinmay\anaconda3\envs\envpytorch\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.7843398350126315
shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)

C:\Users\Chinmay\anaconda3\envs\envpytorch\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.7864437188172995
shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)

C:\Users\Chinmay\anaconda3\envs\envpytorch\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.7876077315623121
shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)
0.784524760587749

C:\Users\Chinmay\anaconda3\envs\envpytorch\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [29]:
import warnings
warnings.filterwarnings('ignore')

In [31]:
from scipy import sparse
from sklearn import decomposition
from sklearn import ensemble
from sklearn import metrics
from sklearn import preprocessing

In [33]:
def run(fold):
    
    df = pd.read_csv("C:/Users/Chinmay/Desktop/APP_ANY_ML/Approach_any_ML/data/cat_train_folds.csv")

    features = [f for f in df.columns if f not in ("id", "target", "kfold")]
    
    # fill all NaN values with NONE
    # note that I am converting all columns to "strings"
    # it doesnâ€™t matter because all are categories
    for col in features:
        df.loc[:, col] = df[col].astype(str).fillna("NONE")
    
    # get training data using folds
    df_train = df[df.kfold != fold].reset_index(drop=True)
    
    # get validation data using folds
    df_valid = df[df.kfold == fold].reset_index(drop=True)
    
    # initialize OneHotEncoder from scikit-learn
    ohe = preprocessing.OneHotEncoder()
    
    # fit ohe on training + validation features
    full_data = pd.concat([df_train[features], df_valid[features]],axis=0)
    ohe.fit(full_data[features])
    
    # transform training data
    x_train = ohe.transform(df_train[features])
    print(f'shape of x_trian {x_train.shape}')
    print(f'shape of x_trian {df_train.target.values.shape}')
    # transform validation data
    x_valid = ohe.transform(df_valid[features])
    print(f'shape of x_valid {x_valid.shape}')
    
    #initialize Truncated Data
    #reducing the data to 120 components
    
    svd = decomposition.TruncatedSVD(n_components=120)#give 120 dim like PCA
    full_sparse = sparse.vstack((x_train,x_valid))
    svd.fit(full_sparse)
    
    x_train = svd.transform(x_train)
    print(f'x_train shape after SVD {x_train.shape}')
    x_valid = svd.transform(x_valid)
    model = ensemble.RandomForestClassifier(n_jobs=-1)
    # fit model on training data (ohe)
    model.fit(x_train, df_train.target.values)
    # predict on validation data
    # we need the probability values as we are calculating AUC
    # we will use the probability of 1s
    valid_preds = model.predict_proba(x_valid)[:, 1]
    # get roc auc score
    auc = metrics.roc_auc_score(df_valid.target.values, valid_preds)
    # print auc
    print(f"Fold = {fold}, AUC = {auc}")
                               
        
for fold_ in range(5):
    run(fold_)

shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)
x_train shape after SVD (480000, 120)
Fold = 0, AUC = 0.7102471109651791
shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)
x_train shape after SVD (480000, 120)
Fold = 1, AUC = 0.7048647924532853
shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)
x_train shape after SVD (480000, 120)
Fold = 2, AUC = 0.7062130805458491
shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)
x_train shape after SVD (480000, 120)
Fold = 3, AUC = 0.7104360197542925
shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)
x_train shape after SVD (480000, 120)
Fold = 4, AUC = 0.7063588977304579

In [145]:
svd = decomposition.TruncatedSVD(n_components=120)
svd

TruncatedSVD(n_components=120)

In [147]:
X = np.random.rand(5, 3)

# Perform SVD
svd = decomposition.TruncatedSVD(n_components=2)
X_svd = svd.fit_transform(X)

In [149]:
X_svd

array([[ 0.40337934,  0.08062692],
       [ 1.45688399, -0.09467621],
       [ 0.80633313,  0.28022834],
       [ 0.39994474,  0.38354554],
       [ 0.89610252, -0.30570765]])

In [152]:
X_sparse = sparse.csr_matrix([[1, 0, 2], [0, 1, 0], [3, 0, 4], [0, 5, 0]])

# Initialize and fit SVD on the sparse matrix
svd = decomposition.TruncatedSVD(n_components=2)
svd.fit_transform(X_sparse)

array([[ 2.21087956e+00, -7.83019293e-16],
       [-9.48023899e-17,  1.00000000e+00],
       [ 4.99780755e+00,  1.78195086e-16],
       [-1.51683824e-16,  5.00000000e+00]])