In [2]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [57]:
df = pd.read_csv('cat_var_train.csv')
#df = df[['bin_0','bin_1','nom_0','nom_1','ord_0','ord_1','ord_2','month','target']]

In [58]:

df.fillna('None',inplace =True)
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3,Contributor,Hot,c,U,Pw,6,3,0
1,1,1,1,0,F,Y,Red,Star,Axolotl,None,...,f37df64af,3,Grandmaster,Warm,e,X,pE,7,7,0
2,2,0,1,0,F,N,Red,None,Hamster,Canada,...,None,3,None,Freezing,n,P,eN,5,9,0
3,3,None,0,0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1,Novice,Lava Hot,a,C,None,3,3,0
4,4,0,None,0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3,Grandmaster,Cold,h,C,OZ,5,12,0

In [43]:
for col in df.columns:
    print(f'{col}--->{df[col].value_counts()}')
    print()

bin_0--->0.0     528377
1.0      53729
None     17894
Name: bin_0, dtype: int64

bin_1--->0.0     474018
1.0     107979
None     18003
Name: bin_1, dtype: int64

nom_0--->Red      323286
Blue     205861
Green     52601
None      18252
Name: nom_0, dtype: int64

nom_1--->Triangle     164190
Polygon      152563
Trapezoid    119438
Circle       104995
Square        26503
None          18156
Star          14155
Name: nom_1, dtype: int64

ord_0--->1.0     227917
3.0     197798
2.0     155997
None     18288
Name: ord_0, dtype: int64

ord_1--->Novice         160597
Expert         139677
Contributor    109821
Grandmaster     95866
Master          75998
None            18041
Name: ord_1, dtype: int64

ord_2--->Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
None            18075
Name: ord_2, dtype: int64

month--->8.0     79245
3.0     70160
5.0     68906
12.0    68340
6.0     60478
7.0     53480
1.0     52154
11.0    51165
2.0     40700
9.0     20620
None    17988
4.0     14614
10.0     2150
Name: month, dtype: int64

target--->0    487677
1    112323
Name: target, dtype: int64

In [44]:
df['ord_2'].unique()

array(['Hot', 'Warm', 'Freezing', 'Lava Hot', 'Cold', 'Boiling Hot',
       'None'], dtype=object)

In [49]:
mapping = {"Freezing": 0, "Warm": 1,"Cold": 2,"Boiling Hot": 3,"Hot": 4,"Lava Hot": 5,'None':6}

df.loc[:,'ord_2'] = df.ord_2.map(mapping)

In [50]:
df['ord_2'].value_counts()

0    142726
1    124239
2     97822
3     84790
4     67508
5     64840
6     18075
Name: ord_2, dtype: int64

The problem with label encoding for linear algorithms is that it introduces an inherent ordering between the categories, which may not necessarily reflect the true nature of the data. For example, if we encode the categories "red", "green", and "blue" as 1, 2, and 3, respectively, a linear algorithm will assume that "green" is closer to "red" than "blue", which may not be true in reality.

This can lead to biased or incorrect results when using linear models, as the model may overweight or underweight certain categories based on their assigned numerical values.

In [53]:
#sparse Matrix

example = np.array([
    [0,0,1],
    [1,0,0],
    [1,0,1]
])
print(example.nbytes)

#we can make this as dic of (row,index) = value
# (0,2)   1
# (1,0)   1
# (2,1)   1
# (2,2)   1

from scipy import sparse
sparse_example = sparse.csr_matrix(example)
print(sparse_example.data.nbytes)

36
16

In [ ]:
#oneHotEncoding

In [55]:
example = np.array(
                    [
                    [0, 0, 0, 0, 1, 0],
                    [0, 1, 0, 0, 0, 0],
                    [1, 0, 0, 0, 0, 0]
                    ]
                    )

print(f'Size of the dense matrix {example.nbytes}')
sparse_ex = sparse.csr_matrix(example)

print(f'size of sparse array:{sparse_ex.data.nbytes}')

Size of the dense matrix 72
size of sparse array:12

In [59]:
df.groupby(['ord_2'])['id'].transform('count')

0          67508
1         124239
2         142726
3          64840
4          97822
5          67508
6          97822
7          97822
8          84790
9          64840
10         67508
11         67508
12        142726
13         64840
14        142726
15         67508
16         84790
17        124239
18         67508
19         84790
20        142726
21         67508
22         67508
23        124239
24         84790
25        124239
26        142726
27         97822
28        124239
29         97822
           ...
599970    142726
599971    142726
599972    142726
599973     97822
599974     84790
599975    142726
599976     64840
599977     67508
599978    142726
599979     84790
599980     67508
599981     64840
599982    124239
599983     97822
599984    142726
599985    124239
599986    142726
599987    124239
599988     64840
599989     84790
599990    142726
599991    124239
599992    142726
599993    142726
599994     97822
599995    142726
599996     84790
599997    142726
599998    124239
599999     84790
Name: id, Length: 600000, dtype: int64

In [62]:
df.groupby(['ord_1','ord_2'])['id'].count().reset_index()

          ord_1        ord_2     id
0   Contributor  Boiling Hot  15634
1   Contributor         Cold  17734
2   Contributor     Freezing  26082
3   Contributor          Hot  12428
4   Contributor     Lava Hot  11919
5   Contributor         None   3250
6   Contributor         Warm  22774
7        Expert  Boiling Hot  19477
8        Expert         Cold  22956
9        Expert     Freezing  33249
10       Expert          Hot  15792
11       Expert     Lava Hot  15078
12       Expert         None   4225
13       Expert         Warm  28900
14  Grandmaster  Boiling Hot  13623
15  Grandmaster         Cold  15464
16  Grandmaster     Freezing  22818
17  Grandmaster          Hot  10805
18  Grandmaster     Lava Hot  10363
19  Grandmaster         None   2894
20  Grandmaster         Warm  19899
21       Master  Boiling Hot  10800
22       Master         Cold  12364
23       Master     Freezing  18035
24       Master          Hot   8594
25       Master     Lava Hot   8209
26       Master         None   2262
27       Master         Warm  15734
28         None  Boiling Hot   2538
29         None         Cold   3033
30         None     Freezing   4309
31         None          Hot   2039
32         None     Lava Hot   1898
33         None         None    555
34         None         Warm   3669
35       Novice  Boiling Hot  22718
36       Novice         Cold  26271
37       Novice     Freezing  38233
38       Novice          Hot  17850
39       Novice     Lava Hot  17373
40       Novice         None   4889
41       Novice         Warm  33263

In [63]:
df['new_feat'] = df.ord_1.astype(str)+'_'+df.ord_2.astype(str)+'_'+df.ord_3.astype(str)

In [64]:
df['new_feat']

0                 Contributor_Hot_c
1                Grandmaster_Warm_e
2                   None_Freezing_n
3                 Novice_Lava Hot_a
4                Grandmaster_Cold_h
5                      Expert_Hot_b
6                Grandmaster_Cold_c
7                     Expert_Cold_b
8              Novice_Boiling Hot_c
9            Contributor_Lava Hot_n
10                     Novice_Hot_b
11                Contributor_Hot_b
12                Novice_Freezing_a
13           Contributor_Lava Hot_h
14                Master_Freezing_d
15                Contributor_Hot_k
16             Novice_Boiling Hot_h
17                    Novice_Warm_g
18                     Master_Hot_h
19        Grandmaster_Boiling Hot_n
20                Novice_Freezing_h
21                Contributor_Hot_h
22                     Master_Hot_k
23                    Novice_Warm_n
24        Grandmaster_Boiling Hot_b
25                    Expert_Warm_c
26           Grandmaster_Freezing_o
27                    Novice_Cold_a
28                    Novice_Warm_a
29                    Expert_Cold_a
                    ...
599970       Contributor_Freezing_a
599971       Contributor_Freezing_a
599972       Grandmaster_Freezing_d
599973           Contributor_Cold_h
599974         Master_Boiling Hot_d
599975            Expert_Freezing_n
599976       Grandmaster_Lava Hot_h
599977                 Novice_Hot_n
599978       Contributor_Freezing_f
599979         Expert_Boiling Hot_d
599980                 Master_Hot_o
599981       Contributor_Lava Hot_c
599982           Contributor_Warm_n
599983                Expert_Cold_c
599984            Novice_Freezing_c
599985                Novice_Warm_h
599986            Expert_Freezing_k
599987                Novice_Warm_d
599988            Master_Lava Hot_k
599989         Master_Boiling Hot_k
599990            Novice_Freezing_i
599991           Contributor_Warm_f
599992            Novice_Freezing_d
599993       Contributor_Freezing_n
599994           Grandmaster_Cold_f
599995            Novice_Freezing_a
599996         Novice_Boiling Hot_n
599997       Contributor_Freezing_n
599998                Master_Warm_m
599999    Contributor_Boiling Hot_b
Name: new_feat, Length: 600000, dtype: object

In [67]:
import pandas as pd
from sklearn import preprocessing

test = pd.read_csv('test.csv')

test['target'] = -1

data = pd.concat([df,test]).reset_index(drop=True)
features = [x for x in df.columns if x not in ['id','target']]

for feat in features:
    lbl_enc = preprocessing.LabelEncoder()
    
    temp_col = data[feat].fillna('None').astype(str).values
    
    data.loc[:,feat] = lbl_enc.fit_transform(temp_col)
    
train_df = data[data.target!=-1].reset_index(drop=True)
test_df = data[data.target == -1].reset_index(drop=True)

C:\Users\Chinmay\anaconda3\envs\envpytorch\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [ ]:
#this trick works when we already know the test dataset.But during live model prediction
#if we introduce a new categroy in training , we wont be able to predcit 
#to avoid this situdation we use ;;unknown category

In [69]:
df.ord_2.fillna("NONE").value_counts()

Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
None            18075
Name: ord_2, dtype: int64

In [ ]:
#if during testing we have not seen the data, we can make them as NOne.
#lika a nlp , We define Vocab size and if word not present , we consider as UNK

In [70]:
df['ord_4'].value_counts()

N       39978
P       37890
Y       36657
A       36633
R       33045
U       32897
M       32504
X       32347
C       32112
H       31189
Q       30145
T       29723
O       25610
B       25212
E       21871
K       21676
I       19805
None    17930
D       17284
F       16721
W        8268
Z        5790
S        4595
G        3404
V        3107
J        1950
L        1657
Name: ord_4, dtype: int64

In [73]:
#some value occur only in 1000 and some occur more than 30K. These are rare words
#we can specify a condition and make them Rare words

df.loc[df['ord_4'].value_counts()[df['ord_4']].values < 2000,'ord_4']='RARE'

In [74]:
df.ord_4.value_counts()

N       39978
P       37890
Y       36657
A       36633
R       33045
U       32897
M       32504
X       32347
C       32112
H       31189
Q       30145
T       29723
O       25610
B       25212
E       21871
K       21676
I       19805
None    17930
D       17284
F       16721
W        8268
Z        5790
S        4595
RARE     3607
G        3404
V        3107
Name: ord_4, dtype: int64

In [ ]:
#this ensure that all unseen data will be mapped as Rare in test and missing
#values as None

In [108]:
df = df[df['target'] !=4]

In [75]:
from sklearn import model_selection

In [109]:
df['kfold'] = -1

#randomize the things
df = df.sample(frac=1).reset_index(drop=True)

#featch labels
y = df.target.values

#initiale the kfold class from model_Selection module
kf = model_selection.StratifiedKFold(n_splits=5)

for f,(t_,v_) in enumerate(kf.split(X=df,y=y)):# (ind x and ind y)
    #print(v_)
    df.loc[v_,'kfold'] = f
    #print(df['kfold'].value_counts())

In [110]:
df.to_csv('cat_train_folds.csv', index=False)

In [111]:
df1 = pd.read_csv('cat_train_folds.csv')
df1.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target,new_feat,kfold
0,207092,0.0,0.0,None,F,N,Red,Triangle,Dog,None,...,Expert,Lava Hot,e,X,mD,3.0,6.0,0,Expert_Lava Hot_e,0
1,112348,0.0,0.0,1.0,T,Y,Red,Polygon,Hamster,Finland,...,Contributor,Cold,n,K,jf,2.0,8.0,1,Contributor_Cold_n,0
2,244025,0.0,1.0,0.0,T,N,Blue,Trapezoid,Lion,Finland,...,Contributor,Hot,h,P,Nh,2.0,5.0,0,Contributor_Hot_h,0
3,11891,0.0,0.0,0.0,T,N,Blue,Polygon,Hamster,None,...,Novice,Lava Hot,a,K,MU,5.0,5.0,0,Novice_Lava Hot_a,0
4,393254,0.0,1.0,1.0,F,N,Red,Circle,Hamster,Russia,...,Master,Cold,n,X,Mg,6.0,5.0,1,Master_Cold_n,0

In [112]:
for val in df1['kfold'].unique():
    print(df1[df1['kfold']==val]['target'].value_counts())

0    97536
1    22464
Name: target, dtype: int64
0    97536
1    22464
Name: target, dtype: int64
0    97535
1    22465
Name: target, dtype: int64
0    97535
1    22465
Name: target, dtype: int64
0    97535
1    22465
Name: target, dtype: int64

In [97]:
df['kfold'].value_counts()

0    120001
4    120000
3    120000
2    120000
1    120000
Name: kfold, dtype: int64

In [137]:
from sklearn import linear_model,metrics,preprocessing

def run(fold):
    
    df = pd.read_csv("cat_train_folds.csv")

    features = [f for f in df.columns if f not in ("id", "target", "kfold")]
    
    # fill all NaN values with NONE
    # note that I am converting all columns to "strings"
    # it doesn’t matter because all are categories
    for col in features:
        df.loc[:, col] = df[col].astype(str).fillna("NONE")
    
    # get training data using folds
    df_train = df[df.kfold != fold].reset_index(drop=True)
    
    # get validation data using folds
    df_valid = df[df.kfold == fold].reset_index(drop=True)
    
    # initialize OneHotEncoder from scikit-learn
    ohe = preprocessing.OneHotEncoder()
    
    # fit ohe on training + validation features
    full_data = pd.concat([df_train[features], df_valid[features]],axis=0)
    ohe.fit(full_data[features])
    
    # transform training data
    x_train = ohe.transform(df_train[features])
    print(f'shape of x_trian {x_train.shape}')
    print(f'shape of x_trian {df_train.target.values.shape}')
    # transform validation data
    x_valid = ohe.transform(df_valid[features])
    print(f'shape of x_valid {x_valid.shape}')
    
    # initialize Logistic Regression model
    model = linear_model.LogisticRegression()
    model.fit(x_train, df_train.target.values)
    # predict on validation data
    # we need the probability values as we are calculating AUC
    # we will use the probability of 1s
    valid_preds = model.predict_proba(x_valid)[:, 1]
    auc = metrics.roc_auc_score(df_valid.target.values, valid_preds)
    # print auc
    print(auc)

In [138]:
run(0)

shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)
0.7841683176021266

C:\Users\Chinmay\anaconda3\envs\envpytorch\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [139]:
for fold_ in range(5):
    run(fold_)

shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)

C:\Users\Chinmay\anaconda3\envs\envpytorch\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.7841683176021266
shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)

C:\Users\Chinmay\anaconda3\envs\envpytorch\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.7843398350126315
shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)

C:\Users\Chinmay\anaconda3\envs\envpytorch\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.7864437188172995
shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)

C:\Users\Chinmay\anaconda3\envs\envpytorch\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.7876077315623121
shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)
0.784524760587749

C:\Users\Chinmay\anaconda3\envs\envpytorch\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [141]:
import warnings
warnings.filterwarnings('ignore')

In [143]:
from scipy import sparse
from sklearn import decomposition
from sklearn import ensemble
from sklearn import metrics
from sklearn import preprocessing

In [155]:
def run(fold):
    
    df = pd.read_csv("cat_train_folds.csv")

    features = [f for f in df.columns if f not in ("id", "target", "kfold")]
    
    # fill all NaN values with NONE
    # note that I am converting all columns to "strings"
    # it doesn’t matter because all are categories
    for col in features:
        df.loc[:, col] = df[col].astype(str).fillna("NONE")
    
    # get training data using folds
    df_train = df[df.kfold != fold].reset_index(drop=True)
    
    # get validation data using folds
    df_valid = df[df.kfold == fold].reset_index(drop=True)
    
    # initialize OneHotEncoder from scikit-learn
    ohe = preprocessing.OneHotEncoder()
    
    # fit ohe on training + validation features
    full_data = pd.concat([df_train[features], df_valid[features]],axis=0)
    ohe.fit(full_data[features])
    
    # transform training data
    x_train = ohe.transform(df_train[features])
    print(f'shape of x_trian {x_train.shape}')
    print(f'shape of x_trian {df_train.target.values.shape}')
    # transform validation data
    x_valid = ohe.transform(df_valid[features])
    print(f'shape of x_valid {x_valid.shape}')
    
    #initialize Truncated Data
    #reducing the data to 120 components
    
    svd = decomposition.TruncatedSVD(n_components=120)#give 120 dim like PCA
    full_sparse = sparse.vstack((x_train,x_valid))
    svd.fit(full_sparse)
    
    x_train = svd.transform(x_train)
    x_valid = svd.transform(x_valid)
    model = ensemble.RandomForestClassifier(n_jobs=-1)
    # fit model on training data (ohe)
    model.fit(x_train, df_train.target.values)
    # predict on validation data
    # we need the probability values as we are calculating AUC
    # we will use the probability of 1s
    valid_preds = model.predict_proba(x_valid)[:, 1]
    # get roc auc score
    auc = metrics.roc_auc_score(df_valid.target.values, valid_preds)
    # print auc
    print(f"Fold = {fold}, AUC = {auc}")
                               
        
for fold_ in range(5):
    run(fold_)

shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)
Fold = 0, AUC = 0.7055380027280306
shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)
Fold = 1, AUC = 0.7027274449395352
shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)
Fold = 2, AUC = 0.7080941468037332
shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)
Fold = 3, AUC = 0.7105896543886481
shape of x_trian (480000, 6394)
shape of x_trian (480000,)
shape of x_valid (120000, 6394)
Fold = 4, AUC = 0.7075838864922179

In [145]:
svd = decomposition.TruncatedSVD(n_components=120)
svd

TruncatedSVD(n_components=120)

In [147]:
X = np.random.rand(5, 3)

# Perform SVD
svd = decomposition.TruncatedSVD(n_components=2)
X_svd = svd.fit_transform(X)

In [149]:
X_svd

array([[ 0.40337934,  0.08062692],
       [ 1.45688399, -0.09467621],
       [ 0.80633313,  0.28022834],
       [ 0.39994474,  0.38354554],
       [ 0.89610252, -0.30570765]])

In [152]:
X_sparse = sparse.csr_matrix([[1, 0, 2], [0, 1, 0], [3, 0, 4], [0, 5, 0]])

# Initialize and fit SVD on the sparse matrix
svd = decomposition.TruncatedSVD(n_components=2)
svd.fit_transform(X_sparse)

array([[ 2.21087956e+00, -7.83019293e-16],
       [-9.48023899e-17,  1.00000000e+00],
       [ 4.99780755e+00,  1.78195086e-16],
       [-1.51683824e-16,  5.00000000e+00]])